body{
    color: #07374a;
    font-family: 'Laila', serif;
    /* background-image: url(Falling_leaves.gif); */
    /* background-color: #25b79f; */
    background-image: url(pink.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}
#leftsection{
    padding-left: 50px;
    font-size: 50px;
    float: left;
}
#rightsection{
    float: right;
    width: 220px;
    margin-left: 30px;
}
.triangle-up{
    float: right;
    margin-bottom: 900px;
    margin-right: 200px;
    width: 0px;
    height: 0;
    border-left: 205px solid transparent;
    border-right: 205px solid transparent;
    border-bottom: 350px solid #25b79f;
}
footer{
    float: center;
    font-size: 50px;
    padding-top: 400px;
    padding-left: 350px;
}
#input{
    font-size: 50px;
    border:3px solid pink;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
}
#input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
#side1{
    /* font-size: 50px; */
    border:3px solid pink;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
}
#side1:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
#side2{
    /* font-size: 50px; */
    border:3px solid pink;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
}
#side2:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
#side3{
    /* font-size: 50px; */
    border:3px solid pink;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
}
#side3:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}