@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Ultra&display=swap');
body {
    color: darkblue;
    font-family: 'Nunito', sans-serif;
    transition: 1s;
}

h1 {
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: 40px;
}

.all-items {
    display: flex;
    justify-content: space-evenly;
}

#la,
#lb,
#lc {
    font-size: 50px;
}

input {
    width: 20rem;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 30px;
    border-radius: 3px;
    border: 2px solid;
}

img {
    height: 350px;
    transition: all 1s;
}

#chkbtn {
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

#chkbtn:hover {
    color: white;
    transition: .4s;
    background: black;
}

.output {
    font-size: 40px;
}